@font-face {
    font-family: 'Gandom';
    src: url('Gandom.eot');
    src: url('Gandom.eot?#iefix') format('embedded-opentype'),
        url('Gandom.woff2') format('woff2'),
        url('Gandom.woff') format('woff'),
        url('Gandom.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    list-style: none;
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
    transition: 0.2s;
    font-family: 'Gandom';
    user-select: none;

}
:root{
    --backgroundColor:#1d2228;
    --fontColor:#e1e2e2;
    --boxColor:#fb8122;
}
body{
    background: var(--backgroundColor);
    max-width:1000px;
    margin:0 auto;
    overflow-x: auto;
}
html{
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
}
nav{
    max-width:1000px;
    height:60px;
    display: flex;
    justify-content: space-between;
    align-items:flex-end;
    padding:10px 15px;
    position: fixed;
    background-color: var(--backgroundColor);
    z-index:200;
    left:0;
    right:0;
    box-shadow:0 10px 30px rgba(0, 0, 0, 0.3);
    margin:0 auto;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;  
}
nav i{
    font-size:20px;
    cursor: pointer;
    color: var(--fontColor);
}
nav i:hover{
    color:var(--boxColor);
}
h1{
    padding-left: 25px;
    text-align: center;
    padding-top:1rem;
    margin:2rem auto; 
    color:var(--fontColor);
}
nav img{
    width:45px;
    border-radius:50%;
    box-shadow:0 10px 30px rgba(0, 0, 0, 0.1);


}
.mode{
    border: var(--fontColor) 1.6px solid;
    font-size:15px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    border-radius:10px;
    overflow: hidden;
}
.mode i{
    padding: 0 8px;
    width:100%;

}
.bi-sun.active,
.bi-moon-stars.active{
    color: var(--boxColor);
    background: var(--fontColor);
}
.mode i:nth-child(1){
    border-left: var(--fontColor) 1.6px solid;

}

.menu2{
    position: fixed;
    height:400px;
    width:50px;
    background:var(--backgroundColor);
    top:150px;
    left:0px;
    display: flex;
    box-shadow:0 10px 30px rgba(0, 0, 0, 0.3);
    justify-content: flex-start;
    border-bottom-right-radius:20px;
    border-top-right-radius:20px;
    margin-right:10px;
    z-index:1000;


}
.menu2 ul{
    padding:10px;
    width:50px;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: var(--fontColor);
}
.menu2 ul li{
    padding:5px;
    cursor: pointer;
    font-size:20px;
    width:35px;
    height:35px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight:bolder;

}
.menu2 ul li:hover{
    color: var(--boxColor);
}
.menu2 ul li img{
    width:150%;
}
.menu2 ul li a{
    color: var(--fontColor);
}
.head{
    width:calc(100% - 50px);
    min-height: 70vh;
    padding:20px;
    padding-top:4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-items: center;
}
.head img{
    width:300px;
}
.InfoBox{
    width:300px;
    border-radius: 10px;
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(400px,1fr));
    justify-content: center;
    padding:1rem;
    gap:20px;
}
.InfoBox img{
    width:90%;
    margin:0 auto;
    border-radius:10px;
}
.InfoBox ul li::marker{
    content: "\1f538";
}
.InfoBox ul{
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap:10px;
  padding:50px;
  color: var(--fontColor);
  font-size:14px;
}
.projectCard{
    width:250px;
    height:350px;
    margin:0 auto;
    background-color: var(--backgroundColor);
    border-radius:10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom:1rem;
    box-shadow:0 10px 30px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    margin-bottom:3rem;
}
.projectCard .img{
    height:300px;
    width:100%;
    background: var(--boxColor);
    border-bottom-left-radius:30px;
    border-bottom-right-radius:30px;

}
.projectCard .img img{
    width:90%;
    margin:0 auto;
    border-radius: 5px;
    box-shadow:0 10px 30px rgba(0, 0, 0, 0.3);

}
.projectCard > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px;
}
.projectCard > div a{
    font-size:23px;
    color: var(--boxColor);
    padding:8px 10px;
    border-radius:10px;
    cursor: pointer;
}
.projectCard > div p{
    border: 1.5px solid var(--fontColor);
    color:var(--fontColor);
    padding:2px 5px;
    font-size:15px;
    border-radius: 5px;
}

.cardRange{
    position: relative;
    width:150px;
    height:200px;
    text-align: center;
    z-index:10;
    cursor: pointer;
    margin:20px 20px 60px;
}
.cardRange .box{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    background: var(--backgroundColor),0.1;
    box-shadow:0 10px 30px rgba(0, 0, 0, 0.4);
    backdrop-filter:blur(15px);
    border-radius:10px;
    z-index: 45;
}
.cardRange .precent{
    position: absolute;
    width:150px;
    height:150px;
    border-radius:50%;
    z-index:100;
}
.cardRange .precent .range{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.precent .range h2{
    text-align: center;
     color:var(--fontColor);
     font-size:30px;
     font-weight:700;
}
.precent .range h2 span{
    font-size:14px;
}
.cardRange .text{
    position: absolute;
    left:50%;
    width:100%;
    bottom:0;
    transform: translateX(-50%);
    text-align: left;
    padding:10px 15px;
    z-index:102;
    color: #fff;
    border-radius: 10px;
    font-weight:800;
    font-size:12px;
    background:none;
    letter-spacing:2px;
    text-transform: uppercase;
    z-index: 1;
    color: var(--fontColor);

}
svg{
   position: relative;
   width:150px;
   height:150px;

}
svg circle{
    width:100%;
    height:100%;
    fill:none;
    stroke-width:10;

    stroke:rgba(255, 255, 255, 0.5);
    transform: translate(5px,5px);
    stroke-linecap: round;
}
svg circle:nth-child(2){
    stroke: var(--boxColor);
    stroke-dasharray:314px;
    stroke-dashoffset:calc(314px - (var(--i)/10)*314px);
}
.projects{
    width:calc(100% - 50px);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.skills{
    width:calc(100% - 50px);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.context {
    width: 100%;
    position: absolute;
    top:20vh;
    
}

.context h1{
    width:calc(100% - 50px);
    text-align: center;
    color: #fff;
    font-size: 50px;
    color: var(--fontColor);
    margin:0 auto;
}
.context h3{
    width:calc(100% - 50px);
    text-align: center;
    color: #fff;
    font-size:30px;
    color: var(--fontColor);
    margin: 0 auto;
}


.area{
    background:var(--backgroundColor);  
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    width: 100%;
    height:100vh;
    
   
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background:var(--boxColor);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}
.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}
.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}
@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}

@media screen and (max-width:450px) {
    .context h1{
        font-size:35px;
    }
    .context h3{
        font-size:20px;
    }
    .cardRange{
        width:120px;
        height:170px;
     
    }
    svg{
       transform: scale(0.9);
     }
    
    
}